.Information {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.InformationList {
    padding-left: 0;
}

@media (max-width: 999px) {
    .InformationList {
        padding-left: 1rem;
    }
}