.NavigationItem {
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.NavigationItem a:hover {
    color: rgb(146, 146, 146);
}