.SideDrawer {
    position: fixed;
    display: none;
    background-color: #1c1c1c;
    height: 100%;
    width: 60%;
    z-index: 20;
    transition: transform 0.3s ease-out;
    top: 0;
    right: 0;
    align-items: center;
}

.SideDrawerItems {
    margin: auto;
}

nav {
    margin-right: 40px;
}

@media (max-width: 699px) {
    .SideDrawer {
        display: flex;
    }
}

.Opened {
    transform: translateX(0%)
}

.Closed {
    transform: translateX(100%);
}