.ContactUsBar {
    background-color: rgb(173, 104, 48);
    width: 280px;
    height: 0.5rem;
    margin: 1rem 0rem 4rem 0rem; 
}

.MenuBar {
    background-color: rgb(173, 104, 48);
    width: 250px;
    height: 0.5rem;
    margin: 0.5rem auto 4rem auto;
}

@media (max-width: 1399px) {
    .TopBar {
        width: 300px;
    }

    .BottomBar {
        width: 1000px;
    }
}

@media (max-width: 999px) {
    .TopBar {
        width: auto;
        margin: 0px 25% 2rem;
    }

    .BottomBar {
        width: 100%;
    }
}