.Description {
  text-align: left;
  margin: 1rem;
  font-size: 14px;
}

.itemTitle {
  margin-top: 0;
}

@media (max-width: 1399px) {
  .Description {
    font-size: 11px;
  }
}

@media (max-width: 999px) {
  .Description {
    font-size: 9px;
    margin: 0.1rem;
  }
}

h4 {
  margin: 0;
}
